@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-size: 0.9rem;
}

#apps .card-deck {
    display: grid;
}
@media (min-width: 0) {
    #apps .card-deck {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 768px) {
    #apps .card-deck {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    #apps .card-deck {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1400px) {
    #apps .card-deck {
        grid-template-columns: repeat(5, 1fr);
    }
}

#footer {
    padding: 60px 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 5rem;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.overlay:hover {
    opacity: 0.9;
}

.linkbutton:hover,
.linkbutton:active,
.linkbutton:focus {
    color: #ffffff;
    background-color: #222222;
    border-color: #ffffff;
}

.linkbutton {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 1rem;
    cursor: pointer;
    margin: 0 0 1.25rem;
    display: inline-block;
    transition: background-color 300ms ease-out;
    font-weight: normal !important;
}